---
import Layout from '~/layouts/Layout.astro';
import { getProjects } from '~/api/api';
import SearchableProjects from '~/components/projects/SearchableProjects';

let projects: ProjectResponse[] = [];

// The project given in this list has 2 special properties "owner" and "releaseChannels"
const res = await getProjects(Astro.locals);
if (res.success) {
	projects = res.data;
} else {
	console.error(res.error);
}

const projectList: ProjectList = {};
for (const proj of projects) {
	const existing = projectList[proj.owner!];
	if (existing  !== undefined) {
		existing.push(proj);
	} else {
		projectList[proj.owner!] = [proj];
	}
}
---

<Layout>
	<main>
		<SearchableProjects
			placeholder='Search project...'
			className='w-4/5 mx-auto my-4'
			hideWithoutJs
			projects={projectList}
			client:load
		/>
	</main>
</Layout>
