---
import { Pagination } from '~/components/Pagination';
import BuildCard from '~/components/projects/builds/BuildCard';

interface Props {
	project: ProjectResponse;
	builds: BuildResponse[];
	releaseChannel?: string;
	pagination?: Pagination | undefined;
}

const { project, builds, pagination } = Astro.props;
---

<div>
	{builds.map((build) => <BuildCard project={project} build={build} />)}
</div>

{ pagination && <Pagination
	currentPage={pagination.page}
	totalPages={Math.ceil(pagination.total / pagination.perPage)} // 16 / 100 = 0.16 = 1 -- 116 / 100 = 1.16 = 2
/>}
