---
import { H1 } from '~/components/html/Headings';
import Layout from '~/layouts/Layout.astro';
---

<Layout>
	<main class='w-4/5 m-auto'>
		<H1>Control Panel</H1>

		<p>
			This is still a work in progress but you will soon be able to manage all your projects, release channels and builds here.
		</p>
	</main>
</Layout>
